/.ipynb_checkpoints
/__pycache__
*.toc
*.tex
*.aux
*.lot
/extract_info_from_xlsforms_files
inputs/CETIP tool REVISED with scoring 18 Dec 24.xlsx
inputs/CETIP tool REVISED with scoring 30 Dec 24.xlsx
outputs/cetip02\#202305127\!cetip02\#202305123.xlsx
outputs/va_who_2022\#2023072701\!va_who_v1_5_3\#2020070101.xlsx
